.i-wrapper {
  display: flex;
  padding: 4rem 0;
  height: 800px;
}
.i-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.i-name > span:nth-child(1) {
  font-size: 3rem;
  font-weight: bold;
  color: var(--black);
}
.i-name > span:nth-child(2) {
  font-size: 3rem;
  font-weight: bold;
  color: var(--orange);
}
.i-name > span:nth-child(3) {
  font-size: 1rem;
  font-weight: 100;
  color: var(--gray);
  margin-top: 1rem;
}
.i-button {
  width: 6rem;
  height: 2.6rem;
}
.i-icon {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icon > * {
  transform: scale(0.5);
  cursor: pointer;
}
.i-right {
  flex: 1;
  position: relative;
  top: 20px;
  right: 56px;
}
.i-right > * {
  position: absolute;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  top: -50px;
}
.i-right > :nth-child(2) {
  transform: scale(0.67);
  top: -77px;
}
.i-right > :nth-child(3) {
  transform: scale(1.4);
  left: 264px;
}
.i-right > :nth-child(4) {
  transform: scale(0.6);
  top: -54px;
  left: -64px;
}
.i-darkMode {
  color: white !important;
}
@media only screen and (max-width: 1023px) {
  .i-wrapper {
    height: 600px;
  }
}
@media only screen and (max-width: 767px) {
  .i-wrapper {
    height: 160vh;
    flex-direction: column;
  }
  .i-left {
    align-self: center;
  }
  .i-right {
    left: 10px;
    transform: scale(0.7);
  }
}
@media only screen and (max-width: 425px) {
  .i-right {
    left: unset;
    transform: scale(0.5);
  }
  .i-wrapper {
    height: 900px;
  }
}
